body{
  font-family: "PT Sans", sans-serif;
  box-sizing: border-box;
}

.hero-container{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(243, 247, 252, 0.4);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin: 0;
  overflow: hidden;
}
.nav-bar{
  position: relative;
  width: 90%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  z-index: 1000;
  background: #F3F7FC;
  box-shadow: 0 0 10px rgb(245, 245, 252);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 5px 15px;
  border-radius: 50px;
  font-family: montserrat;
  font-weight: bold;
  /* box-shadow: 0 0 10px rgb(230, 212, 190) */
}

.logo span{
  color: burlywood;
}
.nav-bar-links ul{
  display: flex;
  list-style-type: none;
}
.nav-bar-links li{
  padding: 7px 15px;
  margin-right: 10px;
  font-weight: 600;
  font-size: 0.7rem;
  color: rgb(23, 23, 49);
  text-transform: uppercase;
  cursor: pointer;
}
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 1;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: #181717;
  margin: 4px 0;
  transition: 0.4s;
}

.content{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.content h1{
  justify-content: center;
  align-content: center;
  text-align: left;
  line-height: 2em;
  font-size: 50px;
  font-weight: 900;
  font-family: "Libre Baskerville", serif;
  margin: 10px;
  color: rgb(23, 23, 49);
}
.content #title{
  color: #fff;
  background: #bed5f1;
  border-radius: 50px;
  padding: 5px 15px;
}

.pull-down-arrow{
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-weight: 500;
  color: rgb(23, 23, 49);
  font-size: 0.8rem;
  text-align: center;
  cursor: pointer;
}

/* Skills section------------------------ */

.skills-container{
  width: 800px;
  height: 100px;
  overflow: hidden;
  gap: 50px;
  padding: 100px 0;
  margin: 50px auto;
  position: relative;
}
.slider{
  display: flex;
  width: calc(200px * 8);
  animation: scroll 20s linear infinite;
}
.icon-div{
  width: 400px;
  height: 100px;
  font-size: 60px;
  padding: 20px;
  /* background: rgba(245, 245, 220, 0.5); */
  border-radius: 20px;
  color: rgb(23, 23, 49);
  object-fit: cover;
}
@keyframes  scroll{
  0%   { transform: translateX(0); }
  100%  { transform: translateX(-800px); }
}
/* Projects section--------------------------------- */

.projects-container{
  background: #F3F7FC;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  height: auto;
  padding: 50px 0 200px;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 15px gainsboro;
}

.projects-heading{
  width: fit-content;
  margin: 50px auto;
  font-size: 2rem;
  font-family: montserrat;
  padding: 2px 20px;
  color: rgb(23, 23, 49);
  font-weight: 900;
}

.projects-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin: 0 30px;
}

.project-box{
  background: #F3F7FC;
  border-radius: 20px;
  box-shadow: 0 0 15px #bed5f1;
  padding: 35px;
  text-align: left;
  color: #414141;
  transform: translateY(0);
  transition: transform 0.4s ease-out, box-shadow 0.4s ease-out;
  line-height: 1.5em;
}
.project-box .item-no{
  font-family: "Libre Baskerville", serif;
 background: #fff;
 color: #bed5f1;
 width: 100px;
 height: 50px;
 align-content: center;
 text-align: center;
 border-radius: 50px;
 font-size: 3rem;
 padding: 5px 0;
 font-weight: 600;
 margin-top: 0;
 box-shadow: 0 0 15px whitesmoke;
}
.projects-heading{
  color: #fff;
  position: relative;
  margin-bottom: 100px;
}
/* .projects-heading::after{
  content: "";
  width: 100%;
  height: 3px;
  background-color: #F3F7FC;
  position: absolute;
  bottom: 0;
  left: 0;
} */
.image-preview{
  width: 100%;
  height: 200px;
}
.project-box p{
  font-size: 0.9rem;
  color: rgb(23, 23, 49);
}
.project-box:hover{
  transform: translateY(-10px);
  box-shadow: 0 0 10px #fff;
}
.tool-list{
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  box-sizing: border-box;
  padding-left: 0;
  margin: 10px 0px 20px 0px;
}
.tool-item{
  list-style-type: none;
  margin: 5px 5px 5px 0px;
  padding: 3px 7px;
  background: #bed5f1;
  box-shadow: 0 0 15px #bed5f1;
  border-radius: 50px;
  color: #fff;
}
.project-box > .external-link{
  display: flex;
  text-decoration: none;
  padding: 5px 15px;
  color: rgb(23, 23, 49);
  cursor: pointer;
  align-items: center;
  gap: 5px;
  width: fit-content;
}
.external-link:hover{
  text-decoration: underline;
}

/* About Section----------------------------------------------- */

.about-container{
  width: 100%;
  height: auto;
  justify-items: center;
  text-align: center;
  padding: 100px 0;
}
.about-heading{
  font-family: "Libre Baskerville", serif;
  font-size: 2rem;
  font-weight: 900;
  color: rgb(23, 23, 49);
  position: relative;
  width: fit-content;
  padding: 10px 20px;
  margin: 50px auto;
  margin-bottom: 100px;
}
/* .about-heading::after{
  content: "";
  width: 100%;
  height: 2px;
  background: rgb(172, 150, 121);
  position: absolute;
  bottom: 0;
  left: 0;
} */
.flex{
  width: 100%;
  display: flex;
} 
.profile-image,.bio{
  flex: 1;
} 

.bio{
  width: 100%;
  text-align: justify;
  justify-content: center;
  align-content: center;
  padding: 50px;
  color: rgb(23, 23, 49);
  line-height: 2em;
  font-weight: 500;
  font-size: 1rem;
}
#bio-name{
  color: navy;
  font-weight: 600;
}
.bio p{
  width: 80%;
}
.profile-img{
  width: 80%;
  height: 100%;
  border-radius: 50px;
  display: block;
  margin: 0 auto;
}
.download{
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 5px;
  background: #bed5f1;
  border-radius: 20px;
  padding: 10px 15px;
  text-decoration: none;
  color: #fff;
}
.download:hover{
  background: #fff;
  border: 1px solid burlywood;
  color: burlywood;
}
.contact-section{
  width: 100%;
  position: relative;
  height: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  background: #F3F7FC;
  padding: 100px 0;
}
.form-section {
  width: 100%;
  max-width: 600px;
  position: relative;
  height: auto;
  background: #fff;
  border-radius: 20px;
  padding: 20px;
}
.form-section h1{
  font-size: 35px;
  color: rgb(23, 23, 49);
}
.form-section p{
  font-size: 0.9rem;
  color: #414141;
}

.text-input{
  width: 90%;
}
.text-input > label{
  display: inline-block;
  font-weight: 900;
  padding: 5px;
  color: #504f4f;
  font-size: 0.8em;
}
.text-input input{
  width: 70%;
  padding: 20px 0 20px 15px;
  border-radius: 50px;
  border: 0;
  margin-bottom: 15px;
  background: #F3F7FC;
}
.text-input input::placeholder{
  font-size: 0.8rem;
  letter-spacing: 0.1em;
}
.text-input textarea{
  width: 70%;
  height: 100px;
  font-size: 15px;
  border-radius: 15px;
  padding: 15px 0 0 15px;
  border: 1px solid beige;
  background: #F3F7FC;
  resize: none;
}
textarea::placeholder{
  font-size: 0.8rem;
  font-family: "PT Sans", sans-serif;
  letter-spacing: 0.1em;
}
.form-section button{
  padding: 15px 20px;
  font-size: 0.9rem;
  border-radius: 50px;
  border: 2px solid rgb(23, 23, 49);
  margin: 10px 0;
  background: transparent;
  color: rgb(23, 23, 49);
  font-size: 0.8rem;
  cursor: pointer;
}
.details-section{
  width: 100%;
  height: 400px;
  max-width: 400px;
  position: absolute;
  top: 50%;
  right: -200px;
  transform: translateY(-50%);
  background: #bed5f1;
  border-radius: 20px;
  justify-items: center;
  color: rgb(172, 150, 121);
  align-content: center;
  box-shadow: 0 0 5px gainsboro;
}
.box{
  width: 70%;
  padding: 15px;
  display: flex;
  gap: 15px;
  background: rgba(255, 255, 252, 0.4);
  align-items: center;
  justify-self: left;
  margin: 10px auto;
  border-radius: 20px;
  line-height: 0.5em;
}
.details-heading{
  font-weight: 600;
  font-size: 2rem;
}
.box p{
  color: rgb(23, 23, 49);
}
.head{
  font-weight: 600;
}

@media (max-width: 768px) {
  .hamburger{
    display: flex;
  }
 .nav-bar-links ul{
    position: absolute;
    top: 50px;
    right: 0;
    background: rgb(94, 94, 78);
    color: black;
    flex-direction: column;
    width: 200px;
    text-align: left;
    padding: 20px 0;
    display: none;
  }
  .nav-links.active{
    display: flex;
  }
  .content h1{
    font-size: 2rem;
  }
  .content p{
    font-size: 0.8rem;
  }
  .flex{
  display: flex;
  flex-direction: column;
  }
}
